<div class="container">
  <h1 class="hour">
    <span *ngFor="let hour of hours; let i =index" [ngStyle]="{'transform': 'rotate(' + hour.degree + ')'}" (click)="setHour(hour.hour)">{{ hour.hour }}
    </span>
  </h1>
  <h1 class="minute">
    <span *ngFor="let minute of minutes; let i =index" [ngStyle]="{'transform': 'rotate(' + minute.degree + ')'}" (click)="setMinute(minute.minute)">{{ minute.minute }}
    </span>
  </h1>
  <label>AM</label>
  <label class="switch">
  <input type="checkbox">
  <span (click)="setTime('PM')" class="slider"></span>
  </label>
  <label>PM</label>