<div>
  <input class="input-box" (click)="openClock()" 
    [value]="selectedHour + ':' + selectedMinute + ' ' +selectedTime"
    readonly type="text" placeholder="H: MM"/>
  <span (click)="openClock()" class="icon-clock">
    <i *ngIf="open == false" class="fa fa-clock-o" aria-hidden="true"></i>
    <i *ngIf="open == true" class="fa fa-times" aria-hidden="true"></i>
  </span>
</div>

<div *ngIf="open === true" class="wrapper">
  <span style="cursor: pointer; top: 3px; font: 10px Monaco, MonoSpace" 
    (click)="resetClock()">Reset Clock</span>
  <div class="am-pm-box">
    <span style="font-size: 50%;">AM</span>
    <label class="switch">
  <input type="checkbox">
  <span (click)="setTime('PM')" class="slider round"></span>
  </label>
    <span style="font-size: 50%">PM</span>
  </div>
  <h1 class="hour">
    <span *ngFor="let hour of hours; let i =index" 
      [style.border]="hourActiveState == true && selectedHour == hour.hour ? '2px solid grey' : null"
      [ngStyle]="{'transform': 'rotate(' + hour.degree + ')'}" 
      (click)="setHour(hour.hour)">
      {{ hour.hour }}
      </span>
  </h1>
  <h1 class="minute">
    <span *ngFor="let minute of minutes; let i =index" 
      [style.border]="minuteActiveState == true  && selectedMinute == minute.minute || (selectedMinute == 00 && minute.minute == 60) ? '1px solid grey' : null"
      [ngStyle]="{'transform': 'rotate(' + minute.degree + ')'}" (click)="setMinute(minute.minute)">
      <ng-container *ngIf="!minute.hide">
        {{ minute.minute}}
      </ng-container>
      <ng-container *ngIf="minute.hide">.</ng-container>
      </span>
  </h1>
</div>